.cast {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cast li {
  width: 300px;
  border: 2px solid rgb(50, 105, 105);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.cast p {
  font-weight: 900;
  font-size: medium;
}
